<template>
  <div class="goods_add" >
    <div>
      <br>
      <br>
      <br>
    </div>

  <el-form ref="form" :model="sizeForm" label-width="100px" size="large">
    <el-form-item label="상품 이름">
      <el-col :span="10">
      <el-input v-model="sizeForm.productName"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상품 코드">
      <el-col :span="10">
      <el-input v-model="sizeForm.productCode"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상품 색상">
      <el-col :span="10">
      <el-input v-model="sizeForm.productColor"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상품 사이즈">
      <el-col :span="10">
      <el-select v-model="sizeForm.productSize" placeholder="사이즈 선택">
        <el-option label="Small" value="small"></el-option>
        <el-option label="Medium" value="medium"></el-option>
        <el-option label="Large" value="large"></el-option>

      </el-select>
      </el-col>
    </el-form-item>
    <el-form-item label="메인 이미지">
      <el-col :span="10">
      <el-input v-model="sizeForm.productMainImage"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상세 이미지 1">
      <el-col :span="10">
      <el-input v-model="sizeForm.productSubImage1"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상세 이미지 2">
      <el-col :span="10">
      <el-input v-model="sizeForm.productSubImage2"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상세 이미지 3">
      <el-col :span="10">
      <el-input v-model="sizeForm.productSubImage3"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="상품 등록일">
      <el-col :span="10">
        <el-date-picker type="date" placeholder="Pick a date" v-model="sizeForm.date1"
                        style="width: 100%;"></el-date-picker>
      </el-col>
    </el-form-item>
    <el-form-item size="large">
      <el-button type="primary" size="medium" @click="onSubmit">상품등록</el-button>
      <el-button type="info" size="medium" @click="moveList"> 취 소 </el-button>
    </el-form-item>
  </el-form>
  </div>

</template>
<style scoped>
#productColor{
  color: #FFFFFF;
  width: 30px;
}

</style>
<script>
export default {
  data() {
    return {
      sizeForm: {
        productName: '',
        productCode: '',
        productColor: '#000000',
        productSize: '',
        productMainImage: '',
        productSubImage1:'',
        productSubImage2:'',
        productSubImage3:'',
        type: [],
        resource: '',
        desc: ''
      }
    };
  },
  methods: {
    onSubmit() {
      console.log('submit!');
    },
    moveList() {
      this.$router.push(`/goods/list`)
    }
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'GOODS_LIST')
  },
};

</script>
