<template>
  <div class="magazine-container">
    <el-table
        :data="tableData"
        style="width: 100%">*.
      <el-table-column
          label="id"
          prop="id">
      </el-table-column>
      <el-table-column
          label="회원권한"
          prop="memberGroup">
      </el-table-column>
      <el-table-column
          label="날짜"
          prop="magazineDate">
      </el-table-column>
      <el-table-column
          label="제목"
          prop="magazineTitle">
      </el-table-column>
      <el-table-column
          label="이미지"
          prop="magazineImage">
      </el-table-column>
      <el-table-column
          label="내용"
          prop="magazineText">
      </el-table-column>
      <el-table-column
          align="right">
        <template slot-scope="scope">
          <el-button
              size="small"
              @click="doCorrect(scope.$index, scope.row)">수정</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="page-button">
      <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
      </el-pagination>
    </div>
  </div>

</template>

<script>
export default {
  data() {

    // 데이터 일단 목업으로 넣어놈 .

    return {
      tableData: [{
        id: 1,
        memberGroup: '관리자',
        magazineDate: '2024-02-23',
        magazineTitle: '오늘의 매거진',
        magazineImage:'image.1.jpg',
        magazineText:'디클로젯 오늘의 매거진 --'


      }, {
        id: 2,
        memberGroup: '관리자',
        magazineDate: '2024-02-20',
        magazineTitle: '비오는 날의 매거진...',
        magazineImage:'image.2.jpg',
        magazineText:'비....코디세트'
      }, {

        id: 3,
        memberGroup: '관리자',
        magazineDate: '2024-02-20',
        magazineTitle: '디클로젯의 설날 코디룩',
        magazineImage:'image.3.jpg',
        magazineText:'디클로젯의 설날 코디물'

      }, {
        id: 4,
        memberGroup: '관리자',
        magazineDate: '2024-01-01',
        magazineTitle: '디클로젯의 신년 코디셋트',
        magazineImage:'image.4.jpg',
        magazineText:'디클로젯의 신년 코디물'
      }],
      search: '',
    }
  },
  methods:{
    moveDetail(data){
      let linkBaseUrl = '/magazine/detail/{id}'
      this.$router.push(`${linkBaseUrl}${data.id}`)
    }

  }

}

</script>