<template>
  <div class="payment">
    <div class="payment-filter">
      <template>
        <el-select
            v-model="value"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
          <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </template>
    </div>
    <el-table
        :data="tableData"
        border
        show-summary
        style="width: 100%">
      <el-table-column
          prop="paymentDate"
          label="결제 날짜"
          width="180">
      </el-table-column>
      <el-table-column
          prop="paymentId"
          label="결제 번호">
      </el-table-column>
      <el-table-column
          prop="memberId"
          label="회원 아이디">
      </el-table-column>
      <el-table-column
          prop="paymentWay"
          label="회원 유형">
      </el-table-column>
      <el-table-column
          prop="paymentType"
          label="결제 유형">
      </el-table-column>
      <el-table-column
          prop="paymentInfo"
          label="결제 정보">
      </el-table-column>
      <el-table-column
          prop="paymentPrice"
          sortable
          label="결제 금액">
      </el-table-column>
    </el-table>

  </div>

</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        paymentDate: '2023-12-23',
        paymentId: '20231223-0000001',
        memberId: 'rhaps09',
        paymentWay: '멤버십',
        paymentType: '계좌 이체',
        paymentInfo: '신한은행 110-111-111111',
        paymentPrice: 99000
      }, {
        paymentDate: '2023-12-23',
        paymentId: '20231223-0000002',
        memberId: 'rlaxhdRo12',
        paymentWay: '멤버십',
        paymentType: '카드 결제',
        paymentInfo: '삼성카드 1111-1111-1111-1111',
        paymentPrice: 99000
      }, {
        paymentDate: '2023-12-23',
        paymentId: '20231223-0000003',
        memberId: 'rlaxhdRo12',
        paymentWay: '멤버십',
        paymentType: '카드 결제',
        paymentInfo: '신한은행 110-111-111111',
        paymentPrice: 99000
      }, {
        paymentDate: '2023-12-23',
        paymentId: '20231223-0000004',
        memberId: 'rlaxhdRo12',
        paymentWay: '멤버십',
        paymentType: '카드 결제',
        paymentInfo: '신한은행 110-111-111111',
        paymentPrice: 99000
      }, {
        paymentDate: '2023-12-23',
        paymentId: '20231223-0000005',
        memberId: 'rlaxhdRo12',
        paymentWay: '멤버십',
        paymentType: '카드 결제',
        paymentInfo: '신한은행 110-111-111111',
        paymentPrice: 99000
      }],
      options: [],
      value: [],
      list: [],
      loading: false,
      states: ["Alabama", "Alaska", "Arizona",
        "Arkansas", "California", "Colorado",
        "Connecticut", "Delaware", "Florida",
        "Georgia", "Hawaii", "Idaho", "Illinois",
        "Indiana", "Iowa", "Kansas", "Kentucky",
        "Louisiana", "Maine", "Maryland",
        "Massachusetts", "Michigan", "Minnesota",
        "Mississippi", "Missouri", "Montana",
        "Nebraska", "Nevada", "New Hampshire",
        "New Jersey", "New Mexico", "New York",
        "North Carolina", "North Dakota", "Ohio",
        "Oklahoma", "Oregon", "Pennsylvania",
        "Rhode Island", "South Carolina",
        "South Dakota", "Tennessee", "Texas",
        "Utah", "Vermont", "Virginia",
        "Washington", "West Virginia", "Wisconsin",
        "Wyoming"]
    };
  },
  mounted() {
    this.list = this.states.map(item => {
      return { value: `value:${item}`, label: `label:${item}` };
    });
  },
  methods: {
    getSummaries(param) {
      const { columns, data } = param;
      const sums = [];
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = 'Total Cost';
          return;
        }
        const values = data.map(item => Number(item[column.property]));
        if (!values.every(value => isNaN(value))) {
          sums[index] = '$ ' + values.reduce((prev, curr) => {
            const value = Number(curr);
            if (!isNaN(value)) {
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = 'N/A';
        }
      });

      return sums;
    },
    remoteMethod(query) {
      if (query !== '') {
        this.loading = true;
        setTimeout(() => {
          this.loading = false;
          this.options = this.list.filter(item => {
            return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
          });
        }, 200);
      } else {
        this.options = [];
      }
    }
  }
};
</script>