
<template>
  <div style="padding: 80px 0;">
  <el-col :span="20">
    <el-form :model="noticeItem" label-width="180px" id="noticeDetail">


      <el-form-item>
        <el-input placeholder="제목을 입력해주세요" v-model="noticeItem.noticeTitle">
          <template slot="prepend">제목</template>
        </el-input>
      </el-form-item>


      <el-form-item>
        <div class="product-image">
          <div class="block">
            <span class="demonstration"></span>
            <el-image style="width: 100px; height: auto" :src="noticeItem.noticeImage"/>
          </div>
        </div>
      </el-form-item>

      <el-form-item style="text-align: center">
        <el-button type="info" @click="onSubmit">답변하기</el-button>
        <el-button>취소</el-button>
      </el-form-item>
    </el-form>
  </el-col>
</div>

</template>


<script >
import async from "async";
import {get} from "core-js/internals/internal-state";

export default {
  //middleware:'auth',
  async asyncData({ route }) {
    const { id } = route.params
    return {
      id : id
    }
  },
  data() {
    return {
        id:null,
      // 조회한 데이터
        detailInfo:null,
      // 수정하려는 데이터
        noticeItem: {
          noticeId:'',
          noticeCreateDate:'',
          noticeTitle:'',
          noticeContent:'',
          noticeImage:''
        }
      }
    },


  methods : {
    goList(){
      this.$router.push(`/notice/list`)
    },
    async getDetail() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,true)
      await this.$store.dispatch(this.$noticeConstants.DO_NOTICE_DETAIL,{id: this.id})
          .then((res) => {

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
            console.log('상품 상세 정보',res);

            const result = res.data
            if ( result.code !== 0 ){
              this.$toast.error(result.msg)
              return false;
            }
            this.detailInfo = result.data;
            this.goodsItem = result.data;

          })
          .catch((err) => {
            console.log('상품 상세 오류',err);
            this.$toast.error('[상품 조회 오류] 시스템 관리자에게 문의하세요')
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          });
    }

  },

    // vue component 생성될 때 실행됨
  created()  {
    this.getDetail()
  },

    // vue component 화면에 마운트 될 때 실행됨 ( created 보다 늦게됨 )
  mounted() {
    // 상품 메뉴  왼쪽에 진하게 표시
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'NOTICE_LIST')
  }
}





</script>

<style scoped>

</style>
